<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <title>
      Looking Glass ::{% block title %} Home{% endblock %}
    </title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href="node/@fortawesome/fontawesome-free/css/fontawesome.min.css" rel="stylesheet">
    <link href="node/@fortawesome/fontawesome-free/css/solid.min.css" rel="stylesheet">

  </head>

  <body>
    {% include 'navmenu.html' %}
    <section class="section">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </section>

    <script src="js/menu.js"></script>
    <script src="js/close_delete.js"></script>

    <script src="node/clipboard/dist/clipboard.min.js"></script>

    <script>
      var clipboard = new ClipboardJS('.btn-copy')
    </script>

  </body>

</html>