{% extends 'base.html' %}

{% block title %}
  Looking Glass
{% endblock %}
{% block page_title %}
  Looking Glass
{% endblock %}

{% block content %}

  <form method="post">
    {{ form.csrf_token }}
    <div class="columns">
      <div class="column">
        <div class="field">
          {{ form.location.label(class = 'label') }}
          <div class="control is-expanded has-icons-left">
            <div class="select is-fullwidth{% if form.location.errors %} is-danger{% endif %}">
              {{ form.location }}
            </div>
            <div class="icon is-small is-left">
              <i class="fa-solid fa-globe"></i>
            </div>
          </div>
        </div>
        {% if form.location.errors %}
          <p class="help is-danger">
            {% for error in form.location.errors %}
              {{ error }}
            {% endfor %}
          </p>
        {% endif %}
      </div>
      <div class="column">
        <div class="field">
          {{ form.command.label(class = 'label') }}
          <div class="control is-expanded has-icons-left">
            <div class="select is-fullwidth{% if form.command.errors %} is-danger{% endif %}">
              {{ form.command }}
            </div>
            <div class="icon is-small is-left">
              <i class="fa-solid fa-terminal"></i>
            </div>
          </div>
        </div>
        {% if form.command.errors %}
          <p class="help is-danger">
            {% for error in form.command.errors %}
              {{ error }}
            {% endfor %}
          </p>
        {% endif %}
      </div>

      <div class="column">
        <div class="field">
          {{ form.ipaddress.label(class = 'label') }}
          <div class="control is-expanded has-icons-left">
            {% if form.ipaddress.errors %}
              {{ form.ipaddress(class = 'input is-danger') }}
            {% else %}
              {{ form.ipaddress(class = 'input') }}
            {% endif %}
            <span class="icon is-small is-left">
              <i class="fa-solid fa-server"></i>
            </span>
          </div>
        </div>
        {% if form.ipaddress.errors %}
          <p class="help is-danger">
            {% for error in form.ipaddress.errors %}
              {{ error }}
            {% endfor %}
          </p>
        {% endif %}
      </div>
      <div class="column is-one-fifth">
        <label class="label">Plain Text</label>
        <div class="field is-grouped">
          <div class="control is-expanded ">
            {{ form.raw_output(type = "checkbox") }}
          </div>
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <h1>1 2 34</h1>
  {% if results %}

    {% include 'results/index.html' %}
  {% endif %}
{% endblock %}
