{% extends 'base.html' %}

{% block title %}
  Looking Glass
{% endblock %}
{% block page_title %}
  Multi-Ping
{% endblock %}

{% block content %}

  {% if results.errors %}
    <div class="notification is-danger">
      <button class="delete"></button>
      {% for error in results.errors %}
        {{error}}<br/>
      {% endfor %}
    </div>
  {% endif %}

  <div class="columns">
    <div class="column is-one-fifth">
      <form method="post">
        {{ form.csrf_token }}

        <div class="field">
          {{ form.locations.label(class = 'label') }}
          <div class="control is-expanded">
            <div class="select is-multiple is-fullwidth{% if form.locations.errors %} is-danger{% endif %}">
              {{ form.locations(size=8) }}
            </div>
          </div>
          {% if form.locations.errors %}
            <p class="help is-danger">
              {% for error in form.locations.errors %}
                {{ error }}
              {% endfor %}
            </p>
          {% endif %}
        </div>

        <div class="field">
          {{ form.ipaddresses.label(class = 'label') }}
          <div class="control is-expanded">
            {% if form.ipaddresses.errors %}
              {{ form.ipaddresses(class="textarea is-danger", rows=8) }}
            {% else %}
              {{ form.ipaddresses(class="textarea", rows=8) }}
            {% endif %}
          </div>
          {% if form.ipaddresses.errors %}
            <p class="help is-danger">
              {% for error in form.ipaddresses.errors %}
                {{ error }}
              {% endfor %}
            </p>
          {% endif %}
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              {{ form.raw_output(type = "checkbox") }}
              Plain Text Output
            </label>
          </div>
        </div>

        <div class="control">
          <button class="button is-dark">Submit</button>
        </div>

      </form>
    </div>
    <div class="column">
      {% if results %}
        {% include 'results/ping_multi.html' %}
      {% endif %}
    </div>
  </div>
{% endblock %}
