PORT=8010
LISTEN=127.0.0.1
WORKERS=4
ROOT_PATH=/

USERNAME=user
PASSWORD=password

SECRET_KEY=MYSECRETYKEY12345
CSRF_SECRET=MYSECRETYCSRFKEY12345
SESSION_NAME=lg_session

ENVIRONMENT=development
DEBUG=True
LOG_LEVEL=debug
LOG_DIR=/var/log/lg/

CONFIG_FILE=config.yml

PING_MULTI_MAX_SOURCE=3
PING_MULTI_MAX_IP=10
