<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Looking Glass :: Error</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link href="{{ url_for('node', path = '/@fortawesome/fontawesome-free/css/fontawesome.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('node', path = '/@fortawesome/fontawesome-free/css/solid.min.css') }}" rel="stylesheet" />
  </head>

  <body>
    {% include 'navmenu.html' %}
    <section class="hero is-medium is-danger">
      <div class="hero-body">
        <p class="title">
          {% block title %}
          {% endblock %}
        </p>
        <p class="subtitle">
          {% block message %}
          {% endblock %}
        </p>
      </div>
    </section>

    <script src="{{ url_for('js', path = 'menu.js') }}"></script>
  </body>
</html>
